@{
    ViewData["Title"] = "Página inicial";
}

<!-- inicio seção home -->
<section class="section-topo pt-4">
    <div class="container">
        <div class="section-topo-left">
            <h1 class="display-4">Suas contas, descomplicadas</h1>
            <p>
                Usado por mais de 1 milhão de pessoas, o finans é uma ferramenta online que vai facilitar a sua vida
            </p>
            <form action="">
                <input type="email" name="cadastrar" id="email" placeholder="Seu e-mail" required>
                <button type="submit"><a asp-controller="Usuarios" asp-action="Create">Cadastrte-se</a></button>
            </form>
            <div class="disponivel-icones">
                <p>
                    Disponivel para
                    <a href="https://www.android.com/intl/pt-BR_br/">
                        <button><i class="fab fa-android"></i></button>
                    </a>
                    <a href="https://www.apple.com/br/">
                        <button><i class="fab fa-apple"></i></button>
                    </a>
                </p>
            </div>
        </div>

        <div class="capa-mulher">
            <img src="imagens/capa-mulher.png" alt="" srcset="">
        </div>
        <div class="clear"></div>
    </div>
</section>


<!-- fim seção home -->
<!-- inicio seção saiba -->
<section class="caixa">
    <div class="container section">
        <div class="section-saiba-text">
            <h2>Saiba para onde vai o seu dinheiro</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque hendrerit lacus sit amet aliquet. Cras non venenatis purus.</p>
            <a href="">Veja mais</a>
        </div>
        <div class="section-saiba-img">
            <img src="imagens/saiba.png" alt="" width="700px">
        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- fim seção saiba -->
<!-- inicio seção juros -->
<section class="caixa">
    <div class="container section">
        <div class="section-juros-img">
            <img src="imagens/juros.png" alt="">
        </div>
        <div class="section-juros-text">
            <h2>Pare de pagar juros e economize</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque hendrerit lacus sit amet aliquet. Cras non venenatis purus.</p>
            <a href="">Veja mais</a>
        </div>
        <div class="clear"></div>
    </div>

</section>
<!-- fim seção juros -->
<!-- inicio seção recursos -->
<section class="caixa">
    <div class=" container section">
        <div class="section-last">
            <div class="facil">
                <img src="imagens/facil.png" alt="">
            </div>
            <div>
                <h3>Fácil de usar</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque hendrerit lacus sit amet aliquet. Cras non venenatis purus.
                </p>
                <a href="">Veja mais</a>
            </div>
        </div>
        <div class="section-last section-tempo">
            <div class="tempo">
                <img src="imagens/economize.png" alt="">
            </div>
            <div>
                <h3>Economize seu tempo</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque hendrerit lacus sit amet aliquet. Cras non venenatis purus.
                </p>
                <a href="">Veja mais</a>
            </div>
        </div>
        <div class="section-last">
            <div class="suporte">
                <img src="imagens/suporte.png" alt="">
            </div>
            <div>
                <h3>Suporte amigo</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque hendrerit lacus sit amet aliquet. Cras non venenatis purus.
                </p>
                <a href="">Veja mais</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</section>
<div class="clear"></div>
<!-- fim seção recursos -->